@model List<BankAccount>
@{
	ViewData["Title"] = "View";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LionKing</h2>

<form action="/AddMoney" method="post" class="well bs-component">
	<select name="id" class="form-control form-group">
		@for (int i = 0; i < Model.Count; i++)
		{
			<option type="number" value="@i">@Model[i].Name</option>
		}
	</select>
	<button type="submit" value="submit" class="btn btn-primary">Submit</button>
</form>
	<table class="table table-striped table-hover">
		<thead>
			<tr><th colspan="4">Lion King Bank Accounts</th></tr>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Balance</th>
				<th>Animal type</th>
				<th>Good / Bad</th>
			</tr>
		</thead>
		@for (int i = 0; i < Model.Count; i++)
		{
			<tr>
				<td>@i</td>
				<td>
					@if (!Model[i].isKing)
					{
						@Model[i].Name;
					}
					else
					{
						<span style="font-weight: bold; color: hotpink">@Model[i].Name</span>;
					}
				</td>
				<td>@string.Format("{0:N2}", @Model[i].Balance) @Model[i].Currency</td>
				<td>@Model[i].AnimalType</td>
				<td>@Model[i].isGood</td>
			</tr>
		}
	</table>
