@model List<TodoModel>
@{
	ViewData["Title"] = "List";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-4">
		<p class="bs-component"><a class="btn btn-success" href="/addTodo">Add todo</a></p>
	</div>
		<table class="table table-striped table-hover">
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Urgent</th>
				<th>Done</th>
				<th>Edit</th>
				<th>Finish</th>
				<th>Delete</th>
			</tr>
			@foreach (TodoModel todo in Model)
			{
				var isUrgent = (todo.IsUrgent == true) ? "danger" : "";
				var isDone = (todo.IsDone == true) ? "success" : "";
			<tr class="@isUrgent || @isDone">
				<td>@todo.Id</td>
				<td>@todo.Title</td>
				<td>@todo.IsUrgent</td>
				<td>@todo.IsDone</td>
				<td><form action="/changeUrgent" method="post"><button class="btn btn-warning" type="submit" value="@todo.Id">Urgent</button></form></td>
				<td><button class="btn btn-success" type="submit">Done</button></td>
				<td><button class="btn btn-info" type="submit">Delete</button></td>
			</tr>
			}
		</table>
</div>
<div class="row">
	<div class="bs-component">
		<span class="label label-danger">Urgent</span>
		<span class="label label-success">Done</span>
	</div>
</div>
