@model List<BankAccount>

<h2>LionKing</h2>


<table>
	<thead>
		<tr><th colspan="4" style="text-align: center">Lion King Bank Accounts</th></tr>
	</thead>
	@for (int i = 0; i < Model.Count; i++)
	{
		<tr>
			<td style="padding: 10px">@i</td>
			<td style="padding: 10px">@Model[i].Name</td>
			<td style="padding: 10px">@string.Format("{0:N2}", @Model[i].Balance) @Model[i].Currency</td>
			<td style="padding: 10px">@Model[i].AnimalType</td>
		</tr>
	}
</table>
